<header>
  <img
    src="../../../../../assets/img/joao.png"
    alt="João Victor da Silva e Silva - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>João Victor da Silva e Silva</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack Developer | Javascript | Angular | Spring Boot</p>
    <p>Toledo, Paraná, Brasil</p>
    <p>
      Estou na área de desenvolvimento de software a mais de 4 anos. Desenvolvo
      sistemas eficazes e intuitivos para pequenas e médias empresas.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary"
            >Download CV</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/jo%C3%A3o-victor-da-silva-e-silva-02034a210/"
            target="_blank"
            class="btn btn-secondary"
            >LinkedIn</a
          >
        </li>
      </ul>
    </nav>

    <section>
        <figure>
            <img src="assets/icons/whatsapp.svg" alt="Ícone para contato do Whatsapp">

            <figcaption>
                <a href="wa.me/45999171020" target="_blank">
                    <strong>Envie uma mensagem para:</strong>
                    <p>Whatsapp: (45) 99917 - 1020</p>
                </a>
            </figcaption>
        </figure>

        <figure>
            <img src="mailto:joao.e.silva.03@gmail.com" alt="Ícone para contato do email">

            <figcaption>
                <a href="mailto:joao.e.silva.03@gmail.com" target="_blank">
                    <strong>Envie um email para:</strong>
                    <p>joao.e.silva.03&#64;gmail.com</p>
                </a>
            </figcaption>
        </figure>
    </section>
  </div>
</aside>
